<!-- - - - - Navbar - - - - - - -->
<nav class="uk-navbar uk-navbar-container  uk-padding-remove-bottom">
  <div class="uk-navbar-left uk-navbar-toggle" id="#offcanvas">
    <!-- This is an anchor toggling the off-canvas -->
    <a class="uk-navbar-toggle" href="#offcanvas"></a>
    <span class="uk-margin-small-left uk-bold" data-uk-toggle="target: #my-id"><span uk-icon="icon: menu"></span></span>
    </a>
    <!-- This is the off-canvas -->
    <div id="my-id" uk-offcanvas="flip: true">
      <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-default">
          <li class="uk-active"><a href="#welcome">Create Event</a></li>
          <li class="uk-parent">
            <a href="#typeform1">Survey</a>
          <li class="uk-parent">
            <a href="#">List</a>
          <li class="uk-parent">
            <a href="#">Group</a>
          <li class="uk-parent">
            <a href="#">Add</a>

          <li class="uk-active"><a href="#">Search Event</a></li>
          <li class="uk-parent">
            <a href="#typeform1">Survey</a>
            {{!-- <ul class="uk-nav-sub"></ul>
            <ul class="uk-nav-sub"></ul> --}}
            <ul class="uk-parent"></ul>
            <a href="#">Group</a>
            {{!-- <ul class="uk-nav-sub"></ul>
            <ul class="uk-nav-sub"></ul> --}}
            <ul class="uk-parent">
              <a href="#Team">Team</a>
              {{!-- <ul class="uk-nav-sub"></ul>
              <ul class="uk-nav-sub"></ul> --}}
              <ul class="uk-parent">
                <a href="#">Event</a>
                <ul class="uk-nav-sub">
                  <ul class="uk-parent"></ul>
                  <a href="#">Event 2</a>
                  <ul class="uk-nav-sub">
                    <li><a href="#">Sub item</a></li>
                    <li><a href="#">Sub item</a></li>
                  </ul>
                  <div>
          </li>
          <li class="uk-nav-header">Header</li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Table</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Thumbnail</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Trash</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  </div>
</nav>
<div id="welcome" class=" uk-height-viewport uk-background-fixed uk-overflow-hidden uk-lightr uk-flex uk-flex-middle uk-text-bold"
  uk-parallax="viewport: 0.5;" style="background-image: url('image/gather1.jpeg');">

  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.3;" "uk-text-bold uk-text-large">Welcome Friends</h1>
    <p uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.3;">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button id="createButton" class="uk-button uk-button-default uk-button-large" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.2;">CREATE
      EVENT</button>

    <button id="searchButton" class="uk-button uk-button-default uk-button-large" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.2;">SEARCH
      EVENT</button>
  </div>
</div>
</div>

<!-- - - - - - - - start of a new section/Blur effect - - - - - - - -->

<div id="test-filter" class="uk-height-large uk-background-cover u-background-fixed uk-overflow-hidden uk-flex uk-flex-top"
  uk-parallax="sepia: 100;" style="background-image: url('image/jellyfish.jpeg');">
  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="target: #test-filter; blur: 0,10;">Organize</h1>
</div>

<div class="uk-padding-large uk-background-fixed uk-background-default uk-dark uk-height-xlarge uk-text-center">
  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">Hello</h1>
  <p class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.6">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur accusamus aliquam in eligendi nam
    necessitatibus rem, doloribus iusto quibusdam vitae reiciendis deserunt fugit. Unde delectus, saepe nesciunt minima
    consectetur ipsam molestias! Inventore, rem fugit incidunt ut delectus amet totam dolorem similique recusandae
    quaerat possimus, aut minus ad nihil? Quos, laborum laboriosam mollitia in repellendus sunt praesentium ipsa
    officia alias natus est optio consectetur sequi pariatur aliquam consequuntur cumque fuga deleniti voluptate, ipsum
    temporibus maxime? Blanditiis earum magnam maiores pariatur. Numquam atque consectetur quo obcaecati recusandae
    quod qui debitis eligendi reiciendis asperiores molestias, repellendus, hic, ex doloribus similique autem suscipit
    eveniet.</p>
  <br>

</div>
<div>
  <hr "uk-background-default">
</div>
<!-- - - - - - -  This is the beginning of the typeform  Survey- - - - - -->

 <div class="uk-container-large uk-container ">
      <form
        class="uk-grid-small uk-text-center"
        id="hostform"
        method="POSt"
        uk-grid
        action=""
      >
        <div class="uk-width-1-1@s">
          <h3 class="uk-heading-line uk-text-center">
            <span>Give us some information about your Gathering</span>
          </h3>
        </div>

        <div class="uk-width-1-2@s ">
          <label class="uk-form-label uk-form-large" for="hostname"
            >Your Name<input
              class="uk-input"
              type="text"
              id="hostname"
              name="name"
              required
          /></label>
        </div>

        <div class="uk-width-1-2@s">
          <label class="uk-form-label uk-form-large" for="eventname"
            >Gathering Name<input
              class="uk-input"
              type="text"
              id="eventname"
              name="eventname"
              required
          /></label>
        </div>

        <!-- Include Location Services? -->
        <div class="uk-width-1-1"><h3>--</h3></div>

        <div class="uk-width-1-1"><h4>Where will you Gather?</h4></div>

        <div class="uk-width-1-4">
          <label class="uk-form-label" for="address"
            >Address<input class="uk-input" type="text"  name="address" id="address" required
          /></label>
        </div>
        <div class="uk-width-1-4">
          <label class="uk-form-label" for="city"
            >City<input class="uk-input" type="text"  name="city" id="city" required
          /></label>
        </div>
        <div class="uk-width-1-4">
          <label class="uk-form-label" for="state"
            >State<input class="uk-input" type="text"  name="state" id="state" required
          /></label>
        </div>
        <div class="uk-width-1-4">
          <label class="uk-form-label" for="zip"
            >Zip<input
              class="uk-input"
              type="number"
              minlength="5"
              maxlength="5"
              name="zip"
              id="zip"
              required
          /></label>
        </div>

        <div class="uk-width-1-1"><h4>When's it going to happen?</h4></div>

        <div class="uk-width-1-3">
          <label class="uk-form-label" for="date"
            >Date<input class="uk-input" type="date"  name="date" id="date" required
          /></label>
        </div>
        <div class="uk-width-1-3">
          <label class="uk-form-label" for="time">
            Starts at<input
              class="uk-input"
              type="time"
              name="time-start"
              id="time-start"
              required
            />
            Ends at<input class="uk-input" type="time"  name="time-end" id="time-end" />
          </label>
        </div>

        <div class="uk-width-1-3">
          <label class="uk-form-label" for="groupsize"
            >How big will your Gathering be?
            <select class="uk-select" id="groupsize">
              <option value="small">Small (0-10)</option>
              <option value="medium">Medium (11-35)</option>
              <option value="large">Large (35-100)</option>
              <option value="large">Huge (101-200)</option>
            </select>
          </label>
        </div>

        <div class="uk-width-1-1">
          <h4>What kind of Gathering is this?</h4>

          <select
            class="uk-select uk-form-large uk-form-width-large"
            id="eventtype"
          >
            <option value="potluck">Potluck</option>
            <option value="babyshower">Baby Shower</option>
            <option value="birthdayparty">Birthday Party</option>
            <option value="graduationparty">Graduation Party</option>
            <option value="other">Other</option>
          </select>
        </div>

         <div class="uk-width-1-1">
          <h4>Any special attire?</h4>

          <select
            class="uk-select uk-form-large uk-form-width-large"
            id="attire"
          >
            <option value="casual">Casual</option>
            <option value="nightout">Night Out</option>
            <option value="businesscasual">Business Casual</option>
            <option value="business">Business</option>
            <option value="semiformal">Semi-Formal</option>
            <option value="formal">Formal</option>
            <option value="costume">Costume</option>
            <option value="team">Team Attire</option>
            <option value="uniform">Uniform</option>
            <option value="nopreference">No Preference / Other</option>
          </select>
        </div>

        <div class="uk-width-1-1">
          <h4>Tell your guests what your Gathering is about</h4>
        </div>

        <div class="uk-width-1-1">
          <textarea
            class="uk-textarea uk-form-width-medium"
            name="time-start"
            id="description"
            minlength="1"
            required
          ></textarea>
        </div>

        <hr class="uk-width-1-1" />

        <div class="uk-width-1-1">
          <button class="uk-button-default uk-button-large" id="submit">
            Submit
          </button>
          <button
            class="uk-button-secondary uk-button-large"
            type="reset"
            id="reset"
          >
            Reset Form
          </button>
        </div>
      </form>

     
    </div>


<!-- - - - - - - - - - - - - - - -End of Typeform - - - - - - - - - - - --->

<div class="uk-padding-large uk-background-cover-fixed uk-background-default uk-dark uk-height-xlarge uk-text-center">
  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.7">Team</h1>
  <p class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.8">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur accusamus aliquam in eligendi nam
    necessitatibus rem, doloribus iusto quibusdam vitae reiciendis deserunt fugit. Unde delectus, saepe nesciunt
    minima
    consectetur ipsam molestias! Inventore, rem fugit incidunt ut delectus amet totam dolorem similique recusandae
    quaerat possimus, aut minus ad nihil? Quos, laborum laboriosam mollitia in repellendus sunt praesentium ipsa
    officia alias natus est optio consectetur sequi pariatur aliquam consequuntur cumque fuga deleniti voluptate,
    ipsum
    temporibus maxime? Blanditiis earum magnam maiores pariatur. Numquam atque consectetur quo obcaecati recusandae
    quod qui debitis eligendi reiciendis asperiores molestias, repellendus, hic, ex doloribus similique autem
    suscipit
    eveniet.</p>
  <br>
  <br>
  <!--  - - - - - - - - - - - - - Team area - - - - - - - - - - - - - --->
  <!-- Cards -->
  <div id="Team" class="uk-child-width-1-4@m" uk-grid>
    <div>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <img src="image/flower.jpeg" alt="">
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Luis Quintero</h3>
          <p>Hello I am Luis Quintero, I helped with desiging this website and fell I deserve all the credit for
            doing such an exquisite job.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="uk-child-width-1-1@m" uk-grid>
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="image/flower.jpeg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Luis Quintero</h3>
            <p>Hello I am Luis Quintero, I helped with desiging this website and fell I deserve all the credit for
              doing such an exquisite job.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!-- Slide Show -->
</div>
<div id="Team" class="uk-background-container">
  <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow>

    <ul class="uk-slideshow-items">
      <li>
        <img data-src="image/party.jpeg" width="1800" height="1200" alt="" uk-cover uk-img="target: !.uk-slideshow-items">
      </li>
      <li>
        <img data-src="image/jellyfish.jpeg" width="1800" height="1200" alt="" uk-cover uk-img="target: !.uk-slideshow-items">
      </li>
      <li>
        <img data-src="image/flower.jpeg" width="1800" height="1200" alt="" uk-cover uk-img="target: !.uk-slideshow-items">
      </li>

    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
      uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>


  </div>




  <!-- - - - - - - Footer - - - - - - - - - - -->
  <footer class="uk-padding-small uk-text-center">
    &copy; Copyright Team Git-It 2019
  </footer>


  <!--  - - - -Jquery and Javascript - - - - - -->
  <script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
    crossorigin='anonymous'></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

   <script>
      $("#testform").validate({
          submitHandler: function(form) {
              console.log($("#testname").val());
          }
      });
 // Function to Generate Secret Event Code
      function makeid() {
              var text = "";
              var possible =
                "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

              for (var i = 0; i < 5; i++)
                text += possible.charAt(
                  Math.floor(Math.random() * possible.length)
                );

              return text;
            };

      $("#hostform").validate({
        submitHandler: function(form) {
          // Get values from form

            // Create New Host Object
            let newHost = {
              name: $("#hostname")
                .val()
                .trim(),
              event: $("#eventname")
                .val()
                .trim(),
              address: $("#address")
                .val()
                .trim(),
              city: $("#city")
                .val()
                .trim(),
              state: $("#state")
                .val()
                .trim(),
              zip: $("#zip")
                .val()
                .trim(),
              date: $("#date")
                .val()
                .trim(),
              timeStart: $("#time-start")
                .val()
                .trim(),
              timeEnd: $("#time-end")
                .val()
                .trim(),
              groupSize: $("#groupsize option:selected").val(),
              eventType: $("#eventtype option:selected").val(),
              attire: $("#attire option:selected").val(),
              description: $("#description")
                .val()
                .trim(),
              eventCode: makeid()
            };

            console.log(newHost);
          ;

          // Function to Reset Form on Reset Click
          function resetForm() {
            $("#hostname")
              .val()
              .trim(),
              $("#eventname")
                .val()
                .trim(),
              $("#address")
                .val()
                .trim(),
              $("#city")
                .val()
                .trim(),
              $("#state")
                .val()
                .trim(),
              $("#zip")
                .val()
                .trim(),
              $("#date")
                .val()
                .trim(),
              $("#time-start")
                .val()
                .trim(),
              $("#time-end")
                .val()
                .trim(),
              $("#groupsize option:selected").val(),
              $("#eventtype option:selected").val(),
               $("#attire option:selected").val(),
              $("#description")
                .val()
                .trim();
          }
        }
      });
    
    </script>
