<!-- - - - - - - - - Navbar - - - - - - - - - - -->
<nav class="uk-navbar-container-default" uk-navbar style="z-index: 980;" uk-sticky="bottom">

  <!-- This is a button toggling the off-canvas -->
  <button uk-toggle="target: #offcanvas" uk-icon="icon: menu"></button>
  <h1 id="Logo">Gather</h1>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href=""></a></li>
      <li class="uk-parent"><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
</nav>

<!-- This is the off-canvas -->
<div id="offcanvas" uk-offcanvas="flip: true" style->
  <div class="uk-offcanvas-bar ">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
      <li class="uk-active"><a href="#">Create Gathering</a></li>
      <li class="uk-parent">
        <a href="#">Survey</a>
        <ul class="uk-nav-sub">
          <li><a href="#">Date</a></li>
          <li><a href="#">Time</a></li>
          <li><a href="#">Location</a></li>
          <li><a href="#">Invite</a></li>
        </ul>
      <li class="uk-active"><a href="#">Search Gathering</a></li>
      <li class="uk-parent">
        <a href="#">search</a>
        <ul class="uk-nav-sub">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
      {{!-- <li class="uk-nav-header">Header</li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li> --}}
    </ul>
  </div>
</div>

<!-- Section 1 with click event buttons -->

<div id="welcome" class=" uk-height-viewport uk-background-fixed uk-overflow-hidden uk-light uk-flex uk-flex-middle uk-text-bold"
  uk-parallax="viewport: 0.5;" style="background-image: url('image/gather1.5.jpeg');">
  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 id="landingpage" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.3;" "uk-text-bold uk-text-large">
      <h1 id="gatherLogo2">Gather</h1>
      <h2 id="gatherh2">Organize Harmonioulsy...</h2>
      <p id="gatherP" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.3;">Its time to party! Lets start
        off by making
        sure
        you know whether you are planning/hosting an event or simply attending one. Please click the button which best
        suits your</p>
      <button id="createButton" class="uk-button uk-button-default uk-button-large" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.2;">CREATE
        GATHERING</button>

      <button id="searchButton" class="uk-button uk-button-default uk-button-large" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.2;">SEARCH
        GATHERING</button>
  </div>
</div>
</div>


<!-- - - - - - - - Section 2/Blur effect - - - - - - - -->

<div id="test-filter" class="uk-height-viewport uk-background-cover uk-background-fixed uk-overflow-hidden uk-flex uk-flex-top"
  uk-parallax="sepia: 100;" style="background: #829F9D">
  <div id="search">
    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="target: #test-filter; blur: 0,10;">
      <h1 id="organize">Organize</h1>
      <h2 id="organize2"> Seach your gathering by entering your event code below.</h2>

  </div>
  <nav id="searchbar2" class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

      <div class="uk-navbar-item">
        <form class="uk-search uk-search-navbar">
          <span uk-search-icon></span>
          <input class="uk-search-input" uk-icon="icon: serach" type="search" placeholder="Search...">
        </form>
      </div>

    </div>
</div>
</nav>


<!-- - - - - - -  Section 3 This is the beginning of the Survey- - - - - -->

<div id="welcome" class=" uk-height-viewport uk-background-fixed uk-overflow-hidden uk-lightr uk-flex uk-flex-middle uk-text-bold"
  uk-parallax="viewport: 0.5;" style="background-image: url('image/gather2.2.jpeg');">
  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 id="surveyLogo1" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.3;" "uk-text-bold uk-text-large">
      <h1 id="gatherLogo2">Survey</h1>
      <h2 id="gatherh2">Structure Organically</h2>
      <p id="gatherP" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.3;">Its time to party! Fill out
        the empty spaces.

  </div>
</div>
</div>



<!-- - - - - - - - - - - - - - - -Section 4 Team Bio- - - - - - - - - - - --->


<div class="uk-padding-large uk-background-cover-fixed uk-background-default uk-dark uk-height-xlarge uk-text-center" style="background-color:#455052 ">
  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.7"><h1 id="teamlogo1">Team</h1>
  <p class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.8">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur accusamus aliquam in eligendi nam
    necessitatibus rem, doloribus iusto quibusdam vitae reiciendis deserunt fugit. Unde delectus, saepe nesciunt
    minima
    consectetur ipsam molestias! Inventore, rem fugit incidunt ut delectus amet totam dolorem similique recusandae
    quaerat possimus, aut minus ad nihil? Quos, laborum laboriosam mollitia in repellendus sunt praesentium ipsa
    officia alias natus est optio consectetur sequi pariatur aliquam consequuntur cumque fuga deleniti voluptate,
    ipsum
    temporibus maxime? Blanditiis earum magnam maiores pariatur. Numquam atque consectetur quo obcaecati recusandae
    quod qui debitis eligendi reiciendis asperiores molestias, repellendus, hic, ex doloribus similique autem
    suscipit
    eveniet.</p>
</div>







<!-- - - - - - - Footer - - - - - - - - - - -->
<footer class="uk-padding-small uk-text-center">
  &copy; Copyright Team Git-It 2019
</footer>


<!--  - - - -Jquery and Javascript - - - - - -->
<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
  crossorigin='anonymous'></script>

<script>
  // testing to generate secret code

  $(".createCode").on("click", function (event) {
    event.preventDefault();

    function makeid() {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 5; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }

    console.log(makeid());
  });

  // event handlers for the create and search buttons
  function createButtonClick() {
    window.location = "#Survey";
  };
  $("#createButton").on("click", function () {
    createButtonClick();
  });
  $("#searchButton").on("click", function () {
    createButtonClick();
  });

    // test script for the gatehr effect



</script>