<!-- - - - - - - - -  - - - - - - Navbar - - - - - - - - - - - - - - - - - - -->

<nav class="uk-navbar-container-default" uk-navbar style="z-index: 980;" uk-sticky="bottom">

  <!--  - - - - - - This is a button toggling the off-canvas  - - - - - - - --->
  <button uk-toggle="target: #offcanvas" uk-icon="icon: menu"></button>
  <h1 id="navLogo">Gather</h1>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href=""></a></li>
      <li class="uk-parent"><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>

  <!-- - - - - - - - - - - This is the off-canvas - - - - - - - - - - - - - -  -->
  <div id="offcanvas" uk-offcanvas="flip: true" style->
    <div class="uk-offcanvas-bar ">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
        <span id="homeIcon"></span>
        {{!-- <li class="uk-active"><a href="#" uk-icon="home">Home</a></li>
        <li class="uk-parent"> --}}
        <li class="uk-active"><a href="#" uk-icon="pencil">Create Gathering</a></li>
        <li class="uk-parent">
          <a href="#Survey">survey</a>
          {{!-- <ul class="uk-nav-sub">
            <li><a href="#">Date</a></li>
            <li><a href="#">Time</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Invite</a></li>
          </ul> --}}
        <li class="uk-active"><a href="#blur" uk-icon="search">Search Gathering</a></li>
        <li class="uk-parent">
          <a href="#blur">search</a>
          <ul class="uk-nav-sub">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
        <li class="uk-active"><a href="#team" uk-icon="world">Web Developers</a></li>
        <li class="uk-parent">
          <a href="#team">bio</a>
          <ul class="uk-nav-sub">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
        {{!-- <li class="uk-nav-header">Header</li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li> --}}
      </ul>
    </div>
  </div>
</nav>




<!--  - - - - - - - - - Section 1/ Create and Search Buttons - - - - - - - -  -->

<div id="welcome" class=" uk-height-viewport uk-background-fixed uk-background-cover  uk-background-center-left uk-overflow-hidden uk-light uk-flex uk-flex-middle uk-text-bold"
  uk-parallax="viewport: 0.5;" style="background-image: url('image/gather1.5.jpeg');">
  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 id="landingpage" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.3;" "uk-text-bold uk-text-large">
      <h1 id="gatherLogoBig">Gather</h1>
      <h2 id="section1H2">Organize Harmoniously...</h2>
      <p id="section1P" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.3;"> <strong>Let us
        start off our fun and collaborative experience by selecting from the buttons below which 
        suit you best. If you plan to host and event, click the Create Gathering button. If you are a guest and are attending please click the Search Gathering button. </p>
      <button id="createButton" class="uk-button uk-button-default uk-button-large" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.1;">CREATE
        GATHERING</button>

      <button id="searchButton" class="uk-button uk-button-default uk-button-large" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.1;">SEARCH
        GATHERING</button>
  </div>
</div>
</div>

<!-- - - - - - - -  - - - - - - Section 2/ Search and Blur effect - - - - - - - - - - - -->

<div id="test-filter" class="uk-height-viewport uk-background-cover uk-background-fixed  uk-overflow-hidden uk-flex uk-flex-top"
  uk-parallax="sepia: 100;" style="background: #829F9D">
  <div id="blur">
    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="target: #test-filter; blur: 0,10;">
      <h1 id="organize">Organize</h1>
      <h2 id="section2H2"> Seach your gathering by entering your event code below.</h2>

  </div>
  <nav id="searchbar" class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

      <div class="uk-navbar-item uk-bottom-center">
        <form class="uk-search uk-search-navbar">
          <span uk-search-icon></span>
          <input class="uk-search-input" type="search" placeholder="Search...">
        </form>
      </div>

    </div>
</div>
</nav>


<!-- - - - - - -  - - - - - - -  Section 3/ Survey - - - - - - - - -  - - - - -->


<div id="Survey" class=" uk-height-viewport uk-background-center-left uk-background-fixed uk-background-norepeat uk-overflow-hidden uk-lightr uk-flex uk-flex-middle uk-text-bold"
  uk-parallax="viewport: 0.5;" style="background-image: url('image/gather2.2.jpeg');">
  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 id="surveyLogo1" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.3;" "uk-text-bold uk-text-large">
      <h1 id="survey">Survey</h1>
      {{!-- <h2 id="section3h2">Structure Organically</h2> --}}
      {{!-- <p id="section3p" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.3;">Its time to party!
        Fill out
        the empty spaces.</p> --}}

      <div class="uk-container-large uk-container ">
        <form class="uk-grid-small uk-text-center" id="hostform" method="POSt" uk-grid action="">
          <div class="uk-width-1-1@s">
            <h3 class="uk-heading-line uk-text-center">
              <span> Give us some information about your Gathering. </span>
            </h3>
          </div>

          <div class="uk-width-1-2@s ">
            <label class="uk-form-label uk-form-large" for="hostname">Your Name<input class="uk-input" type="text" id="hostname"
                name="name" required /></label>
          </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label uk-form-large" for="eventname">Gathering Name<input class="uk-input" type="text"
                id="eventname" name="eventname" required /></label>
          </div>

          <!-- Include Location Services? -->
          <div class="uk-width-1-1">
            {{!-- <h3>--</h3> --}}
          </div>

          <div class="uk-width-1-1">
            <h4 id="section3h4">Where will you Gather?</h4>
          </div>

          <div class="uk-width-1-4">
            <label class="uk-form-label" for="address">Address<input class="uk-input" type="text" name="address" id="address"
                required /></label>
          </div>
          <div class="uk-width-1-4">
            <label class="uk-form-label" for="city">City<input class="uk-input" type="text" name="city" id="city"
                required /></label>
          </div>
          <div class="uk-width-1-4">
            <label class="uk-form-label" for="state">State<input class="uk-input" type="text" name="state" id="state"
                required /></label>
          </div>
          <div class="uk-width-1-4">
            <label class="uk-form-label" for="zip">Zip<input class="uk-input" type="number" minlength="5" maxlength="5"
                name="zip" id="zip" required /></label>
          </div>

          <div class="uk-width-1-1">
            <h4 id="section3h4">When's it going to happen?</h4>
          </div>

          <div class="uk-width-1-3">
            <label class="uk-form-label" for="date">Date<input class="uk-input" type="date" name="date" id="date"
                required /></label>
          </div>
          <div class="uk-width-1-3">
            <label class="uk-form-label" for="time">
              Starts <input class="uk-input" type="time" name="time-start" id="time-start" required />
              Ends <input class="uk-input" type="time" name="time-end" id="time-end" />
            </label>
          </div>

          <div class="uk-width-1-3">
            <label class="uk-form-label" for="groupsize">How big is your Gathering ?
              <select class="uk-select" id="groupsize">
                <option value="small">Small (0-10)</option>
                <option value="medium">Medium (11-35)</option>
                <option value="large">Large (35-100)</option>
                <option value="large">Huge (101-200)</option>
              </select>
            </label>
          </div>

          <div class="uk-width-1-1">
            <h4 id="section3h4">What king of Gathering is this?</h4>

            <select class="uk-select uk-form-large uk-form-width-large" id="eventtype">
              <option value="Potluck">Potluck</option>
              <option value="babyshower">Baby Shower</option>
              <option value="birthdayparty">Birthday Party</option>
              <option value="graduationparty">Graduation Party</option>
              <option value="other">Other</option>
            </select>
          </div>

         <div class="uk-width-1-1">
          <h4>Any special attire?</h4>

          <select
            class="uk-select uk-form-large uk-form-width-large"
            id="attire"
          >
            <option value="casual">Casual</option>
            <option value="nightout">Night Out</option>
            <option value="businesscasual">Business Casual</option>
            <option value="business">Business</option>
            <option value="semiformal">Semi-Formal</option>
            <option value="formal">Formal</option>
            <option value="costume">Costume</option>
            <option value="team">Team Attire</option>
            <option value="uniform">Uniform</option>
            <option value="nopreference">No Preference / Other</option>
          </select>
        </div>

          <div class="uk-width-1-1">
            <h4 id="section3h4">Tell your guests what your Gathering is about</h4>
          </div>

          <div class="uk-width-1-1">
            <textarea class="uk-textarea uk-form-width-xlarge" name="time-start" id="description" minlength="1"
              required></textarea>
          </div>

          {{!--
          <hr class="uk-width-1-1" /> --}}

          <div class="uk-width-1-1">
            <button class="uk-button-default uk-button-large" id="submit">
              Submit
            </button>
            <button class="uk-button-secondary uk-button-large" type="reset" id="reset">
              Reset Form
            </button>
          </div>
        </form>
      </div>
  </div>
</div>
</div>

<!-- - - - - - - - - - - - - - - -Section 4 Team Bio- - - - - - - - - - - --->


<div class=" uk-height-viewport uk-padding-large uk-background-cover-fixed uk-background-default uk-dark uk-text-center"
  style="background-color:#455052 ">
  <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.7">
    <h1 id="team">Team</h1>
    <p id="section4p" class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.8">
      Hello fellow gatherer's. Our team has been working diligently to bring you a streamlined web application that
      makes planning an event soothing,
      intuitive and stress free. We believe that time is precious and that it should be spent having fun with the
      people you care most about and not on tedious
      tasks. The Gather team hopes that you will find the experience of interacting with our site as pleasant as the
      one you are about to embark on.
      Check out our bio section below to find out more about the people who put this together. Lastly, dont just meet ,
      <a id="littleLogo">Gather</a>.
    </p>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <div class="uk-child-width-1-4@m"  uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 500; repeat: true">
      <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle" width="110" height="40" src="image/teamPic/abigail.svg">
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Abigail</h3>
              <p class="uk-text-meta uk-text-center uk-margin-remove-top"><time datetime="2016-04-01T19:00">Full-Stack
                  Developer</time></p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="uk-card-footer">
          <ul class="uk-iconnav">
            <li><a href="#">
                <img src="https://cdn0.iconfinder.com/data/icons/social-media-2071/100/social-05-512.png" alt="gmail"
                  width="35px">
              </a></li>
            <li><a href="#">
                <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-512.png" alt="LinkedIn"
                  width="35px">
              </a></li>
            <li><a href="#">
                <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-512.png" alt="GitHub" width="35px">
              </a></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="110" height="40" src="image/teamPic/katie.png">
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Katie</h3>
                <p class="uk-text-meta uk-text-center uk-margin-remove-top"><time datetime="2016-04-01T19:00">Full-Stack
                    Developer</time></p>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="uk-card-footer">
            <ul class="uk-iconnav">
              <li><a href="#">
                  <img src="https://cdn0.iconfinder.com/data/icons/social-media-2071/100/social-05-512.png" alt="gmail"
                    width="35px">
                </a></li>
              <li><a href="#">
                  <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-512.png" alt="LinkedIn"
                    width="35px">
                </a></li>
              <li><a href="#">
                  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-512.png" alt="GitHub" width="35px">
                </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="110" height="40" src="image/teamPic/luis.png">
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Luis</h3>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Full-Stack Developer</time></p>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="uk-card-footer">
            <ul class="uk-iconnav">
              <li><a href="#">
                  <img src="https://cdn0.iconfinder.com/data/icons/social-media-2071/100/social-05-512.png" alt="gmail"
                    width="35px">
                </a></li>
              <li><a href="#">
                  <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-512.png" alt="LinkedIn"
                    width="35px">
                </a></li>
              <li><a href="#">
                  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-512.png" alt="GitHub" width="35px">
                </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="110" height="40" src="image/teamPic/pearl.png">
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Pearl</h3>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Full-Stack Developer</time></p>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="uk-card-footer">
            <ul class="uk-iconnav">
              <li><a href="#">
                  <img src="https://cdn0.iconfinder.com/data/icons/social-media-2071/100/social-05-512.png" alt="gmail"
                    width="35px">
                </a></li>
              <li><a href="#">
                  <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-512.png" alt="LinkedIn"
                    width="35px">
                </a></li>
              <li><a href="#">
                  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-512.png" alt="GitHub" width="35px">
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

</div>


<!-- - - - - - -  - - - - - - - - -  - - Footer  - - - - - - - - - - - -->

<footer class="uk-padding-small uk-text-center">
  &copy; Copyright Team Git-It 2019
</footer>






<!-- //////////////////////Jquery and Javascript\\\\\\\\\\\\\\\\\ -->

<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
  crossorigin='anonymous'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>


<script src="js/event.js"></script>



